[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework-simplejwt = {extras = ["blacklist"], version = "*"}
djangorestframework = "*"

[dev-packages]

[requires]
python_version = "3.12"
